@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  .saved-songs-container {
    /* Adjust padding, margins, and other properties for mobile */
    padding: 10px;
  }

  /* Adjust table layout or font sizes if necessary */
  .saved-songs-table {
    font-size: 14px;
  }

  /* Any other mobile-specific styles */
}
/* For mobile devices */
@media (max-width: 768px) {
  .responsive-table {
    overflow-x: auto; /* Makes the table scrollable horizontally */
  }

  .table-row {
    display: block;
    margin-bottom: 1rem; /* Stacks rows vertically */
  }

  /* Adjust font size, padding, and margins as necessary */

  .navigation-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .square {
    width: 100%; /* Make square blocks full width on small screens */
    margin: 0 0 20px; /* Add some margin to the bottom */
  }

  .content h2,
  .content p {
    font-size: smaller; /* Adjust font size for smaller screens */
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  /* background: #ffffff; */
/* overflow: hidden; */
body {
  background-image: url("./images/bg-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  font-weight: 500;

  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Additional button styles like .bn30, .bn31, .bn632-hover, etc. */
.nav-container,
.currently-playing-container,
.saved-song-table-container {
  width: 100%;
  /* Additional styles for each container */
}

.panel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}

.panel.open {
  right: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000000;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #383eef;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.nav-container {
  width: 100%;
}

.currently-playing-container {
  width: 100%;
  margin: auto;
}

.saved-song-table-container {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 4%;
}
.bn9 {
  padding: 2px;
  outline: 0;
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdde5c),
    color-stop(#f8ab5e),
    color-stop(#f56a62),
    color-stop(#a176c8),
    color-stop(#759beb),
    color-stop(#65beb3),
    to(#70db96)
  );
  background: linear-gradient(
    to right,
    #fdde5c,
    #f8ab5e,
    #f56a62,
    #a176c8,
    #759beb,
    #65beb3,
    #70db96
  );
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.bn9 > span {
  display: block;
  padding: 10px 40px;
  font-size: 17px;
  font-weight: 500;
  background: #ebebeb;
  border-radius: 30px;
}
.square {
  position: relative;
  margin: 70px 120px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
  background: rgba(233, 237, 251, 0.668);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 20px;
}
.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
}

.linkedin:hover span:nth-child(1) {
  border: none;
  background: #f06e6e;
}

.twitter:hover span:nth-child(1) {
  border: none;
  background: #84cdfa;
}

.github:hover span:nth-child(1) {
  border: none;
  background: #5ad1cd;
}

.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
  background: rgba(233, 237, 251, 0.668);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 20px;
}
.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.linkedin:hover span:nth-child(2) {
  border: none;
  background: #6ef0b3;
}

.twitter:hover span:nth-child(2) {
  border: none;
  background: #84cdfa;
}

.github:hover span:nth-child(2) {
  border: none;
  background: #5ad1cd;
}

.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
  background: rgba(233, 237, 251, 0.668);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 20px;
}

.linkedin:hover span:nth-child(3) {
  border: none;
  background: rgba(107, 142, 255, 0.668);
}

.twitter:hover span:nth-child(3) {
  border: none;
  background: #84cdfa;
}

.github:hover span:nth-child(3) {
  border: none;
  background: #5ad1cd;
}

.content {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}

.content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.content a:hover {
  background: white;
  color: #333;
}
.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn27 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.modalClassName {
  z-index: 1000; /* Use a value higher than the elements it's hiding behind */
}
.panel {
  position: fixed;
  top: 0;
  right: -300px; /* Start off the screen */
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}

.panel-header {
  margin-bottom: 20px;
}

.glass-footer {
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  font-weight: bold;
  background: rgba(68, 53, 162, 0.411);
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.475);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.144);
}
.img-opacity {
  opacity: 100;
}
.basket {
  color: white;
  font-size: 12px;
  padding: 5%;
}
.basket-collection {
  position: relative;
  display: block;
}
.glassmorphism {
  background: rgba(107, 142, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(20px);
  padding: 20px;
  transform: translateZ(0);
}

.glassmorphism-nav {
  background: rgba(107, 142, 255, 0.668);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 20px;
}
.nav-btn {
  color: white;
}

.modal-body-content {
  max-height: 400px; /* Adjust this value based on your needs */
  overflow-y: auto;
}

.home-nav {
  text-decoration: none;
  color: #fff;
}
.basket-img {
  height: 100px;
  width: 100px;
}

.glassmorphism-basket {
  background: rgba(255, 107, 213, 0.477);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: black;
  padding: 25px;
}

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  left: 25%;
  right: 25%;
  margin-top: 15px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.rm-song {
  color: #fff;
  background: rgba(83, 0, 191, 0.477);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  right: 12px;
}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.glassmorphism-profile {
  /* background: rgb(255 148 0 / 38%); */
  background: rgb(7 1 44 / 48%);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 25px;
}
.profile {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  margin-left: 43%;
}
.glassmorphism-artist {
  background: rgba(211, 0, 106, 0.477);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 25px;
  margin-top: 10px;
}
.artisttable {
  position: relative;
  left: 40%;
  margin-top: 5%;
}
.tracktable {
  left: 6%;
  position: relative;
}
.glassmorphism-tracks {
  /* background: rgb(7 1 44 / 48%); */
  background: rgba(78, 0, 126, 0.501);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  padding: 25px;
  margin-top: 10px;
}

.track-table {
  border-radius: 10px 0px 0px 0px;
  background: rgba(58, 58, 58, 0.501);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
}
.track-table2 {
  border-radius: 0px 10px 0px 0px;
  background: #000;
  background: rgba(58, 58, 58, 0.501);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
}
.artist-table {
  border-radius: 10px 10px 0px 0px;
  /* background: #000; */
  background: #000;
  background: rgba(58, 58, 58, 0.501);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
}
.deletebasket {
  background: #000;
  background: rgba(0, 99, 90, 0.501);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
}
.liked-song-img {
  width: 100px;
  height: 100px;
}
.basket-info {
  border-radius: 15px;
}

.song-table {
  width: 100px;
  height: 100px;
}
